= react_component('Search', tag_list:all_tag_list.pluck(:tag))
- all_tag_list.each do |tag|
  %p= tag.tag
.list-group
  %a.list-group-item.active{:href => "#"} Link
  %a.list-group-item{:href => "#"} Link
  %a.list-group-item{:href => "#"} Link
  %a.list-group-item{:href => "#"} Link
  %a.list-group-item{:href => "#"} Link
  %a.list-group-item{:href => "#"} Link
  %a.list-group-item{:href => "#"} Link
  %a.list-group-item{:href => "#"} Link
  %a.list-group-item{:href => "#"} Link
  %a.list-group-item{:href => "#"} Link

