- @videoList.each.with_index() do |video|
  %h2 Heading
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "163", :src => "#{video.url}", :width => "290"}
  .well.well-sm
    - @all_tag_list.each do |tag|
      = tag.tag
