= react_component('HomeIndex', {videoList:@video_list.to_json(), selectTagList:@all_tag_list.to_json()})
//- @videoList.each.with_index() do |video|
//  = react_component('VideoList', {url:video.url, tag_list:video.video_tags.pluck(:tag)})
//  %h2 Heading
//  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "163", :src => "#{video.url}", :width => "290"}
//  .well.well-sm
//    - @all_tag_list.each do |tag|
//      = tag.tag
