- @videoList.each.with_index() do |video|
  %h2 Heading
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "180", :src => "#{video.url}", :width => "320"}
  .well.well-sm
    - video.video_tags.each do |videoTag|
      = videoTag.tag
  - @all_tag_list.each do |tag|
    = tag.tag
