!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title COC 3Stars | クラッシュオブクラン動画まとめサイト
    %meta{:name => "description", :content => "COC 3starsはスマホアプリ【Clash of Clans】の動画まとめ検索サイトです。クラン対戦の同格以上を相手に星3つを奪取している動画のみ掲載しています。"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield

